/* Telegram:  @macrospam */

body {
	background-color: rgb(0,0,0,0.1);

}

input {
	width: 200px;
	font-family: courier new;
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 17px;
	margin: 5px 5px;
	padding: 5px 5px;
	background-color: rgb(232, 240, 254);
}

h1, h2, h3, h4, h5, h6 {
	color: darkblue;
	font-family: courier new;
}

hr {
	width: 90%;
	color: blue;
}

p {
	text-align: justify;
	padding: 0px 25px;
}

a {
	color: red;
	text-decoration: none;

}

a:hover {
	background-color: yellow;
	border-radius: 5px;
	padding: 0px 5px;
}

img {
	width: 70%;
	border: 1px solid blue;
	border-radius: 15px;
	box-shadow: 15px 15px 20px rgb(0,0,0,0.3);
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo {
	font-family: courier new;
	margin-bottom: 10px;
	width: 78%;
}

.gde-gde {
	font-size: 17px;
	margin-top: 15px;
	font-family: courier new;
	margin-bottom: 50px;
}

button {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: lightblue;
	border: 1px solid blue;
	padding: 5px 8px;
	border-radius: 5px;
	font-family: courier new;
	font-size: 16px;
}

button:hover {
	background-color: blue;
	cursor: pointer;
}

.large {
	background-color: white;
	width: 70%;
	color: darkblue;
	margin-top: 10px;
	font-family: courier new;
	padding-bottom: 15px;
	border: 1px solid blue;
	border-radius: 10px;
	margin-bottom: 10px;
}

.abc1 {
	color: blue;
	font-size: 17px;
}

/* Telegram:  @macrospam */
